<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>飘动的云</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <h1 style="text-align: center;">欢迎来到我的网站</h1>
    <h2 style="text-align: center; color: red;">&nbsp;<span id="show"></span></h2>
    <div class="sky">
        <div class="clouds_one"></div>
        <div class="clouds_two"></div>
        <div class="clouds_three"></div>
    </div>

    <div class="frame">
        <span>正在载入...</span>
        <div style=" border: 1px solid black;">
            <div id="myProgress ">
                <div id="myBar"></div>
            </div>
        </div>
        <div class="fr_but" onclick="but_d()">
            <button style="background-color: rgb(203, 203, 221);">cannel</button>
        </div>
    </div>

    <script src="/javascripts/index.js"></script>
</body>

</html>