<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" crossorigin="anonymous" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/magager.css" type="text/css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/magager.js"></script>
</head>

<body>
   
    <div id="big_div">
        <p class="div_p">后台管理</p>
        <table class="table table-bordered">
            <thead>
                <tr style=" font-size:medium">
                    <th class="asc_desc" >id</th>
                    <th class="asc_desc">number</th>
                    <th class="asc_desc">name</th>
                    <th class="asc_desc">sex</th>
                    <th  class="asc_desc" id="age_desc" >age</th>
                    <th class="asc_desc">user</th>
                    <th class="asc_desc">password</th>
                    <th class="asc_desc">Email</th>
                    <th class="asc_desc">identity </th>
                    <th class="asc_desc">islogout</th>
                    <th  class="asc_desc" id="createtime_desc">createTime</button></th>
                    <th class="asc_desc">logoutTime</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody class="showData">
                <% list.forEach((obj,i)=> { %>
                    <tr ind="<%=i %>" class="tr">
                        <td><input type="text" value="<%=obj.id %>"></td>
                        <td><input type="text" value="<%=obj.number %>"></td>
                        <td><input type="text" value="<%=obj.name %>"></td>
                        <td><input type="text" value="<%=obj.sex %>"></td>
                        <td><input type="text" value="<%=obj.age %>"></td>
                        <td><input type="text" value="<%=obj.user %>" ></td>
                        <td><input type="text" value="<%=obj.password %>"></td>
                        <td><input type="text" value="<%=obj.Email %>"></td>
                        <td><input type="text" value="<%=obj.identity %>"></td>
                        <td><input type="text" value="<%=obj.islogout %>"></td>
                        <td><input type="text" value="<%=obj.create_time %>" style="width: 150px;"></td>
                        <td><input type="text" value="<%=obj.logout_time %>" style="width: 150px;"></td>
                        <td><input type="text" class="del_button" ind="<%=i %>" value="删除"></td>
                    </tr>
                    <% }) %>
                    <tfoot style="text-align: center; font-size: medium;">
                        <tr>  
                            <td colspan="5" class="page_num" page= "<%= page %>"></td>
                            <td class="paging">首页</td>
                            <td class="paging">上一页</td>
                            <td class="paging page_p">1</td>
                            <td class="paging">下一页</td>
                            <td class="paging">尾页</td>
                            <td colspan="3" style="text-align: right; font-size: small;color: red" class="page_text">共<%= page %>页</td>
                        </tr>
                    </tfoot>
            </tbody>
        </table>
        <div class="touxiang" onclick="display()"></div>
        <span style="position: absolute;top: -65px;" id="ident_span">管理员: <span><%= key.user %></span></span>
        <div class="gongneng">
            <p onclick="details()">用户详情</p>
            <p onclick="but_return()">退出登陆</p>
            <p onclick="but_quanxian()">临时权限</p>
        </div>
        <div class="search"><label><input type="text" id="search" placeholder="user,name,sex..." style="font-size: 30px;"><img src="/images/magager1.gif" width="50px" height="50px"></label></div>
         <div class="float">
            <div style="height: 100px; border:1px solid black; background-color: gray;" onclick="float(this)" id="all"></div>
            <div style="height: 100px; border:1px solid black;" onclick="float(this)" id="student"></div>
            <div style="height: 100px; border:1px solid black;" onclick="float(this)" id="teacher"></div>
            <div style="height: 100px; border:1px solid black;" onclick="float(this)" id="mamager"></div>
            <div style="height: 100px; border:1px solid black;" onclick="float(this)" id="add"></div>
        </div>
    </div>
    <div class="xialankuang">
        <p class="flip" style="text-align: center;">MD5转换</p>
        <div class="panel">
            <p>密码:<input type="text" id="before_pass" style="width: 150px;"/></p>
            <p>加密:<input type="text" id="after_pass" style="width: 150px;"/></p>
            <p><a href="https://www.cmd5.com/" target=_blank>md5暴力破解</a></p>
        </div>
            
    </div>
</body>

</html>